.main{
    background-color: azure;
    padding: 10px;
}
.welcome-section{
    text-align: center;
    background-color: darkorange;
    padding: 10px;
}
.menu-container{
    background-color: white;
}
.menu-appetizers img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
.contact-us{
    text-align: center;
    background-color: lightcoral;
    padding: 8px;
}
